body, html {
height: 100%;
margin: 0;
font-family: monospace;
color:#003594;
    
}

.hero-image {
  /* This is your opening image. You will need to change el1.jpg to something of your choice*/
  
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("SteelRises3.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;      
}

/* Place text in the middle of the image */

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 250%;
}

/* This is what controls that cool parallax scrolling effect. Change the image "el4.jpg" below to your image.*/
/*You can always add more parlax assets on your web document, just follow the directions at the bottom of the index.html.*/
.parallax-1 { 
  background-image: url("SteelRises3.jpg");

  /* Set a specific height */
  height: 500px; 

  /* control the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Preset Image Controls

This section of css. helps organize images to position and center the image to scale nicely on all screens */

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


/* -Preset Photo Grid -  

The following .css is responsible for your photo grid .row, .column, .column img and @ media all work together to create your responsive image displays. Change the images on index.html. Remember, the images need to be in your project file folder */

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
    justify-content: center;
}

/* Create 3 equal columns that sit next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}


/* Responsive layout - makes grid a one column-layout instead of two or three columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
}
}


/* - Preset Text Block Controls- 
this css. element centers text elements*/


/* This css. section controls the paragraph chunks*/

@media screen and (min-width: 800px) {
.textblock {
  margin: auto;
  width: 50%;
  padding: 100px;
    font-size: 125%; 
}
}
    
@media screen and (max-width: 800px) {
  .textblock {
    margin: auto;
    padding: 20px;    
}
}



    
    

 
    
    
    



    


    



